body{
    padding-top:54px;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #adadad;
}
.menu {
    overflow-x: hidden;
    position: relative;
    left: 0px;
}
.menu-open {
    left:211px;
}
.menu-open .menu-side {
    left: 0px;
}

.menu-side,
.menu {
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
    transition: left 0.4s ease;
}
.menu-side {
    background-color: #111;
    border-right: 1px solid #000;
    color: #fff;
    position: fixed;
    top: 45px;
    left: -231px;
    width: 210px;
    height: 100%;
    overflow-y: auto;
}

.slide-bar-toggle {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px;
    border-radius: 4px;
    outline-width: 0px;
}
.slide-bar-toggle:hover {
    background-color: #ffffff;
}
.slide-bar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #333;
}
.slide-bar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-toggle {
    border: 0px;
    padding: 5px 10px 0px 10px;
}
@media screen {
    .navbar-toggle {
        border: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .slide-bar-toggle {
        margin-left: 5px;
    }
    .badge {
        background-color: #2196F3;
    }
}
.navbar-toggle .fa {
    font-size: 200%;
}
.navbar {
    min-height: 40px;
}
.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-brand {
    float: left;
    padding: 12px 15px;
    font-size: 24px;
    line-height: 23px;
    height: 40px;
}
.menu-side .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.treeview, .sidebar-menu li {
    background-color: #222222;
}
.menu-side .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-side > .sidebar-menu > li {
    border-top: 0px solid #444444;
    border-bottom: 1px solid #111;
}

.menu-side .sidebar-menu > li > a {
    padding: 12px 5px 12px 12px;
    display: block;
}
.treeview-menu > li > a {
    padding: 12px 5px 12px 0px;
    display: block;
}
.treeview-menu > li > a:hover {
    color: #cfcfcf;
}
.treeview-menu > li {
    background-color: #000;
    border-top: 0px solid #222;
    border-bottom: 1px solid #111;
}
/* Menu lateral abertura vertical*/
.sidebar-menu > li > a:hover, .sidebar-menu > li.active > a {
    color: #000000;
    background: #bbbbbb;
    border-bottom: #cfcfcf;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 20px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: none;
    z-index: 100;
    display:none;
}

.sidebar-menu a {
    color: #adadad;
}

td > .img-circle {
    width: 50px;
}

.profilefoto, .foto-lg{
    max-width: 250px;
}
.foto-md {
    width: 100px;
}

.foto-sm {
    width: 50px;
}

.profile-card {
    border: 0px solid #000;
    line-height: 17px;
}

.profile-card .profilefoto {
    border: 0px solid #0075b0;
}

.profile-card .profile-card-foto-container{
    float: left;
    clear: both;
}

.profile-card .pcard-name {
    padding: 0px;
}

.pcard-sm .profilefoto {
    width: 50px;
}

.pcard-md .profilefoto {
    width: 70px;
}

.pcard-lg .profilefoto {
    width: 150px;
}

.pcard-sm {
    width: 290px;
}

.pcard-md {
    width: 300px;
}

.pcard-lg{
    min-width: 300px;
}

.pcard-md > .panel-body{
    padding: 10px;
}



.pcard-sm .pcard-name{
    font-family: 'Roboto';
    font-size: 14px;
    position: relative;
    left: 10px;
    top: 5px;
}

.pcard-md .pcard-name{
    font-family: 'Roboto';
    font-size: 14px;
    position: relative;
    left: 10px;
    top: 5px;
}

.pcard-lg .pcard-name{
    font-family: 'Roboto';
    font-size: 22px;
    position: relative;
    left: 10px;
    top: 20px;
}

.pcard-sm .pcard-name .pcard-info{
    font-family: 'Roboto';
    font-size: 11px;
    margin-left: 15%;
}

.pcard-md .pcard-name .pcard-info{
    font-family: 'Roboto';
    font-size: 12px;
    position: relative;
    top: 2px;
}

.pcard-lg .pcard-name .pcard-info{
    font-family: 'Roboto';
    font-size: 18px;
    position: relative;
    top: 15px;

}

.navbar-inverse {
    color: #b2dbfb;
}
.navbar-inverse .slide-bar-toggle .icon-bar{
    background-color: #b2dbfb;
}
.navbar-inverse .slide-bar-toggle:hover, .navbar-inverse .navbar-toggle:hover {
    background-color: #128ff2;
    color:#ffffff;
}
.navbar-form {
    margin-top: 3px;
    margin-bottom: 7px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #dddddd;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #dddddd;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dddddd;
}

#report_filter .form-control {
    border: 1px solid #dddddd;
}

#report_length label, #report_info {
    width: 300px;
}


.usuario-panel {
    padding: 10px;
}
.usuario-panel:after {
    clear: both;
}
.usuario-panel > .image > img {
    width: 45px;
    height: 45px;
    border: 2px solid #adadad;
}

.usuario-panel > .info {
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}

/*Controle de formulários
#pessoafisicaform .selectContainer .form-control-feedback,
#pessoafisicaform .inputGroupContainer .form-control-feedback{
    top: 0;
    right: -15px;
}
*/
#pessoafisicaform .btn-group .form-control-feedback,
#pfformnovo .btn-group .form-control-feedback {
    top: 0;
    right: -30px;
}

.input-sm {
    background-color: #f9f9f9;
}

.nav-tabs {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
}

/*e5e5e5*/

.nav-tabs > li > a {
    box-shadow: inset 0 0px 0 #dddddd;
}
.img-thumb-panel {
    height: 45px;
    width: 45px;
    margin: -8px 10px 10px 0px;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    font-size: 19.5px;
    line-height: inherit;
    color: #212121;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-busca {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 300px;
    margin-bottom: 0;
    list-style: none;
    font-size: 1em;
    text-align: left;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#nav-top-form-busca input {
    font-size: 13px;
}

#nav-top-form-busca .list-group-item,
.dropdown-busca .list-group-item {
    border: 0;
    border-top: 1px solid #d0d0d0;
    line-height: 10px;
}

#nav-top-form-busca .list-group-item-text {
    font-size: 12px;
}
